<%= form_for(@session) do |f| %>
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Form -->
  <div class="row">
    <div class="large-8 columns">
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>  
      <div class="field">
        <%= f.label :team_id %><br>
        <%= f.collection_select :team_id, Team.all.order(:name), "id", "name",{:selected => @session.team_id}%>
        <div style="margin-bottom: 20px">You can create a <%= link_to 'new team', new_team_path%> here.</div>
      </div>
    </div>
  </div>

  <!-- Actions -->
  <div class="row">
    <%= f.submit :class => "button round"%>
  </div>
<% end %>
